<ion-content>
  <ion-grid class="espaititol">
    <img src="../../assets/img/titol2.png" alt="">
  </ion-grid>
  <section class="taula" id="c2201">
    <div class="Busqueda">
        <input class="Barra" type="text" onkeyup="myFunction()" placeholder="Alcanar...">
    </div>
    <div class="fila1">
        <div class="columnes">
            <a href="../categories">
                <img class="iconaajuntament" src="../../assets/img/ajuntament.png">
                <br>
                <p>Ajuntament</p>
            </a>
        </div>
        <div class="columnes">
            <a href="../categories">
                <img class="iconaalimentacio" src="../../assets/img/alimentacio2.png">
                <br>
                <p>Alimentació</p>
            </a>
        </div>
    </div>
    <div class="fila2">
        <div class="columnes">
            <a href="../categories">
                <img class="iconabotigues" src="../../assets/img/botigues.png">
                <br>
                <p>Botigues</p>
            </a>
        </div>
        <div class="columnes">
            <a href="../categories">
                <img class="iconaserveis" src="../../assets/img/serveis.png">
                <br>
                <p>Serveis</p>
            </a>
        </div>
    </div>
</section>
</ion-content>
