.general{
    margin-top: 5%;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}
form{
    background-color: white;
    max-height: 70%;
    width: 82%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    overflow: scroll;
}
.fields{
    overflow: scroll;
    max-height: 70%;
}
ion-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
ion-button {
    --background: none;
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ec6f5e;
}