.general{
    margin-top: 5%;
    max-height: 60%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%; 
}
form{
    background-color: white;
    max-height: 50%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
    box-sizing: content-box;
}
.fields{
    width:88%;
    max-height: 65vh;
    overflow:scroll;
}
h4{
    text-decoration:underline;
}
ion-item {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
ion-button {
    --background: none;
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ec6f5e;
}