<ion-content>
  <ion-grid class="espaititol">
      <img src="../../assets/img/titol2.png" alt="">
  </ion-grid>
  <ion-searchbar class="search" showCancelButton="focus" [(ngModel)]="filterTerm">
  </ion-searchbar>
  <!--Amb el *ngIf podem posar les condicions, en aquest cas el condicionant és que filterTerm tingui algun valor-->
  <ion-list id="Cities" *ngIf="filterTerm">
    <ion-item *ngFor="let data of townList | filter:filterTerm">
      <ion-label>
        <ion-text color="primary">
          <!-- Li passem els valors de la ciutat seleccionada a la funció prova -->
          <a (click)="prova(data)">{{ data.Nom }}, {{ data.Comarca }}</a>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
 </ion-content>