<ion-content>
  <img class="fletxa" (click)="backClicked()" src="../../assets/img/fletxa.png" alt="">
  <ion-grid class="espaititol3">
    <img src="../../assets/img/titol2.png" alt="">
  </ion-grid>
  <div class="espaipoble">
      <div><span>{{ id }}</span></div>
  </div>
  <br>
  <div class="espaiespecialitat">
    <div><span id="especialitat">{{ id2 }}</span></div>
  </div>
    <section id="c2201">
        <section id="alimentacio2201">
            <div class="contenidor">
                <div class="botons5">
                    <div>
                        <button id="fruita" (click)="colorA()"><img class="iconafruita" src="../../assets/img/fruita.png" alt="fruita.png"></button>
                    </div>
                    <div>
                        <button id="carn" (click)="colorB()"><img class="iconacarn" src="../../assets/img/carn.png" alt="carn.png"></button>
                    </div>
                    <div>
                        <button id="peix" (click)="colorC()"><img class="iconapeix" src="../../assets/img/peix.png" alt="peix.png"></button>
                    </div>
                    <div >
                        <button id="pa" (click)="colorD()"><img class="iconareposteria" src="../../assets/img/reposteria.png" alt="pa.png"></button>
                    </div>
                    <div>
                        <button id="super" (click)="colorE()"><img class="iconasuper" src="../../assets/img/super.png" alt="super.png"></button>
                    </div>
                </div>
                <div id="llistata2201">
                    <ul id="llistataf2201">
                        <p><b>Fruita/Verdura</b></p>
                        <li>Massanes</li>
                        <li>Taronjes</li>
                    </ul>
                    <ul id="llistatac2201">
                        <p><b>Carn</b></p>
                        <li>Pollastre</li>
                        <li>Conill</li>
                    </ul>
                    <ul id="llistatap2201">
                        <p><b>Peix</b></p>
                        <li>Calamars</li>
                        <li>Llenguado</li>
                    </ul>
                    <ul id="llistatapa2201">
                        <p><b>Pa i reposteria</b></p>
                        <li>Pizza</li>
                        <li>Pa</li>
                    </ul>
                    <ul id="llistatas2201">
                        <p><b>Petits supermercats</b></p>
                        <li><a href="Negocis/Negoci.html?ciutat=2201&categoria=2">Aldi</a></li>
                        <li>Clarel</li>
                    </ul>
                </div>
            </div>
        </section>
      </section>
</ion-content>
