<ion-content>
  <img class="fletxa" (click)="backClicked()" src="../../assets/img/fletxa.png" alt="">
  <ion-grid class="espaititol2">
    <img class="titol2" src="../../assets/img/titol2.png" alt="">
    <img class="iconap2" src="../../assets/img/poblet.png" alt="">
  </ion-grid>
  <form>
    <ion-item lines="full">
      <ion-label position='floating'>Correu electrònic:</ion-label>
      <ion-input type="email" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position='floating'>Contrasenya:</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="login" type="submit" (click)="onLogin(email, password)"
        expand="block">Inicia sessió
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
  <ion-button class="registre" (click)="redirRegistre()">Encara no ets usuari? REGISTRA'T</ion-button>
</ion-content>