.iconselect {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.usericon {
    margin: 10% 0;
}
.bicon {
    margin: 10% 0;
}
p {
    text-align: center;
}
.orangebg {
    background-color: #fac05c;
    width: 30%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}
.bluebg {
    background-color: #cedfe8;
    width: 30%;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
}